{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        [
            "styled-jsx/babel",
            { 
                "plugins": ["my-styled-jsx-plugin-package", "/full/path/to/local/plugin"],
                "sourceMaps": true
            }
        ]
    ]
}